altgraph==0.17
APScheduler==3.6.3
asgiref==3.2.10
astroid==2.4.2
beautifulsoup4==4.9.3
bleach==3.2.1
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
clarifai==2.6.2
colorama==0.4.4
comtypes==1.1.7
configparser==5.0.1
cryptography==3.3.1
cycler==0.10.0
decorator==4.4.2
Django==3.1.2
django-crispy-forms==1.9.2
djangorestframework==3.12.2
docutils==0.16
EasyProcess==0.3
emoji==0.6.0
future==0.18.2
googleapis-common-protos==1.52.0
googletrans==3.0.0
grpcio==1.34.0
guizero==1.1.1
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
heroku==0.1.4
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
importlib-metadata==3.3.0
instapy==0.6.12
isort==5.6.4
joblib==0.17.0
jsonschema==2.6.0
keyring==21.8.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
matplotlib==3.3.3
mccabe==0.6.1
MeaningCloud-python==2.0.0
MouseInfo==0.1.3
numpy==1.19.4
opemipo==0.0.1
opencv-python==4.4.0.46
packaging==20.8
pandas==1.1.4
pefile==2019.4.18
phonenumbers==8.12.15
Pillow==8.0.1
pkginfo==1.6.1
plyer==2.0.0
protobuf==3.14.0
PyAutoGUI==0.9.52
pycparser==2.20
PyGetWindow==0.0.9
Pygments==2.7.3
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pylint==2.6.0
pylint-plugin-utils==0.6
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.1
pypiwin32==223
pypng==0.0.20
PyQRCode==1.2.1
PyRect==0.1.4
PyScreeze==0.1.26
python-dateutil==2.8.1
python-telegram-bot==13.1
pyttsx3==2.90
pytube3==9.6.4
PyTweening==1.0.3
pytz==2020.1
pywhatkit==3.2
pywin32==300
pywin32-ctypes==0.2.0
PyYAML==5.3.1
readme-renderer==28.0
regex==2020.11.13
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
scikit-learn==0.23.2
scipy==1.5.4
selenium==3.141.0
six==1.15.0
sklearn==0.0
sniffio==1.2.0
soupsieve==2.0.1
sqlparse==0.4.1
threadpoolctl==2.1.0
toml==0.10.1
tornado==6.1
tqdm==4.55.0
twine==3.3.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.25.11
webdriverdownloader==1.1.0.3
webencodings==0.5.1
wikipedia==1.4.0
wrapt==1.12.1
zipp==3.4.0
