{% extends 'school/base.html' %}


{% block content %}

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Course</th>
        <th scope="col">Grade</th>
        <th scope="col">Age</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{object.name}}</td>
        <td>{{object.course}}</td>
        <td>{{object.grade}}</td>
        <td>{{object.age}}</td>
      </tr>
    </tbody>

{% endblock content %}
    